/* ---- Body container  sec ------------------------------------------*/

.Tpsec {
    background-color: #fff;
    padding: 30px 80px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px 30px;
}

.Tpsec h2 {
    font-size: 25px;
    font-weight: normal;
}

.Tpsec p {
    font-size: 18px;
    font-weight: normal;
}

.Tpsec ul {
    font-size: 18px;
    font-weight: normal;
}

.Tpsec a {
    color: white;
    font-size: 18px;
    font-weight: normal;
}