/* ---- Body container  sec ------------------------------------------*/

/* ---- Body container  sec ---------------*/
.bodyContainerTP {
    padding: 40px;
}

.containerTP {
    border-radius: 20px;
    background-color: #fff;
}

.bodyHrTP {
    height: 0.6px;
    background-color: rgb(0, 0, 0);
    margin-top: 2px;
    border: none;
}

.Tpsec {
    background-color: #fff;
    padding: 30px 80px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px 30px;
}

.Tpsec h2 {
    font-size: 25px;
    font-weight: normal;
    text-align: left;
}

.Tpsec p {
    font-size: 18px;
    font-weight: normal;
    text-align: left;
}

.Tpsec ul {
    font-size: 18px;
    font-weight: normal;
}

.Tpsec a {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: normal;
}