body {
    margin: 0;
    font-family: Roboto;
    font-size: 15px;
    background-color: rgb(115, 185, 238);
}

.mainStruc {
    width: 100%;
}

.bgimgSec {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

/* ---- Header Sec-------------------------- */

.headerContainer {
    height: 40px;
    padding: 10px 6px 10px;
}

.headerSec {
    display: flex;
    height: 40px;
}

/* ---- Header sec>left sec --------------*/

.leftSec {
    display: flex;
    flex: 1;
    gap: 20px;
}

.hamburgerSec {
    cursor: pointer;
}

.sidebarCont {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    width: 280px;
    height: 100%;
    background-color: #333;
    z-index: 1;
    font-size: 15px;
    font-weight: lighter;
    overflow: scroll;
    padding: 10px 20px 60px 20px;
}

.sidebarContHead {
    color: white;
    margin: 15px 15px 15px 8px;
    display: flex;
    gap: 5px;
}

.closebtn {
    position: absolute;
    left: 270px;
    cursor: pointer;
}

.sidebarCont h3 {
    color: white;
    margin: 15px 15px 15px 8px;
}

.sidebarCont ul {
    margin: 0;
    padding: 0px;
    list-style-type: none;
}

.sidebarCont li {
    padding: 10px;
}

.sidebarCont li:hover {
    background-color: rgb(204, 204, 204);
}

.sidebarCont a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.logoSec a{
    padding: 0px;
}

.webLogo {
    border-radius: 6px;
}

.allCategoryBtn {
    height: 40px;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    background-color: #eeeded;
    cursor: pointer;
}

.allCategoryBtn:hover {
    background-color: rgb(224, 224, 224);
}

.allCategorySecDropdown {
    margin-top: 10px;
    position: absolute;
    display: none;
    background-color: #333;
    padding: 15px;
    z-index: 1;
    border-radius: 6px;
    border: 2px solid white;
    height: 300px;
    overflow: scroll;
}

.closeSec {
    position: absolute;
    top: 35px;
    color: white;
    right: 20px;
    cursor: pointer;
}

.allCategorySecDropdown h3 {
    color: white;
}

.allCategorySecDropdown ul {
    padding: 0;
    list-style-type: none;
}

.allCategorySecDropdown li,
a {
    text-decoration: none;
    color: white;
    padding: 6px;
}

.allCategorySecDropdown li:hover {
    background-color: rgb(182, 182, 182);
}

/* ---- Header sec>right sec --------------*/

.rightSec {
    display: flex;
    align-items: center;
    gap: 20px;
}

.linksSec {
    align-items: baseline;
    justify-content: center;
    color: white;
}

.links a {
    padding: 0 7px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    transition: 20ms ease;
}

.links a:hover {
    color: rgb(226, 226, 226);
}

.UserSec {
    cursor: pointer;
}

.userSecDropDown {
    margin-top: 10px;
    position: absolute;
    right: 10px;
    top: 40px;
    display: none;
    background-color: #333;
    padding: 15px 25px;
    z-index: 1;
    border-radius: 6px;
    border: 2px solid white;
    height: auto;
    text-align: center;
}

.closeBtnSec {
    color: white;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.userSecDropDown h3 {
    color: white;
}

.userSecDropDown ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: white;
}

.userSecDropDown li {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9px;
}

.myaBtn,
.signOutBtn {
    height: 30px;
    background-color: #333;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.userSecDropDown a {
    padding: 0;
}

.cartSec {
    cursor: pointer;
}

/* ---- HR sec ---------------------------*/

.bodyHr {
    height: 0.6px;
    background-color: rgb(255, 255, 255);
    margin: 20px 0;
    border: none;
}

/* ---- body sec ------------------------------------------ */

.sliderContainer{
    padding: 0px 30px;
}

.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider img{
    height: 400px;
    width: 100%;
    display: none;
}

img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 2s;
}

.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 100%, 0.329);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

.previous{
    left: 0;
}

.next{
    right: 0;
}

@keyframes fade{
    from {opacity: .5}
    to {opacity: 1}
}