/* ---- Body container  sec ---------------*/
.bodyContainerTC{
    padding: 40px;
}
.containerTC{
    border-radius: 20px;
    background-color: #fff;
}

.bodyHrTC {
    height: 0.6px;
    background-color: rgb(0, 0, 0);
    margin-top: 2px;
    border: none;
}

.Tcsec {
    padding: 10px 30px;
    color: rgb(0, 0, 0);
}

.Tcsec h2 {
    font-size: 25px;
    font-weight: normal;
    text-align: left;
}

.Tcsec p {
    font-size: 18px;
    font-weight: normal;
    text-align: left;
}