* {
    box-sizing: border-box;
}

.cart-container {
    width: 100%;
    background: #2f67c7;
    padding: 20px;
    overflow: hidden;
    /* clearfix */
}


.left {
    float: left;
    width: 70%;
    background: #fff;
    padding: 15px;
}

.left h1 {
    color: black;
    text-align: left;
    margin-bottom: 10px;
    font-weight: lighter;
}

hr {
    height: 1px;
    background: #000;
}


.right {
    float: right;
    width: 28%;
}

.right-top,
.right-bottom {
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;
}

.infoSection {
    display: flex;
}

.productInfo h5{
    color: rgb(3, 161, 3);
    margin: 0;
}
.productImg {
    margin: 10px 15px;
}

.productImg img {
    width: 130px;
    height: 150px;
}