.cart-container{
    margin: 30px;;
}

.box1{
    display: inline-block;
    vertical-align: top;
    width: 70%;
    height: auto;
    background-color: #fff;
    margin-right: 20px;
    padding: 15px;
}

.box2{
    display: inline-block;
    vertical-align: top;
    width: 22%;
    height: auto;
    background-color: #fff;
    padding: 15px;
}

.box3{
    position: relative;
    left: 74%;
    bottom: 470px;
    display: inline-block;
    width: 22%;
    height: auto;
    background-color: #fff;
    padding: 15px;
    margin-left: 4px;
}